%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %title= page_title
  %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}

  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'admin' if admin?
  /[if IE]
    = stylesheet_link_tag 'application_ie'
  /[if lte IE 6]
    = stylesheet_link_tag 'application_ie6'

  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  
  = yield :head