- unless @no_javascript
  = include_jquery
  = include_javascript
  = include_admin_javascript
  
  = fb_connect_javascript_tag  
  = initialize_facebook_js
    
  :javascript 
    function callPrep() {
      #{yield :domready}
    }

  = yield :javascript

= shared 'trackers'