- unless @no_javascript
  = include_jquery
  = include_javascript
  = include_admin_javascript
  = fb_connect_javascript_tag
  
  = init_fb_connect "XFBML", :js => :jquery
    
  :javascript 
    function callPrep() {
      #{yield :domready}
    }

  = yield :javascript

= shared 'trackers'