%h1 Home Page
%p= @time.to_s :long
%p= link_to 'Google', 'http://google.com', :popup => true

%p
  - if logged_in?
    %p
      <fb:profile-pic uid="#{current_user.fb_user_id}" facebook-logo="true" size="thumb" ></fb:profile-pic>
      Welcome, #{current_user.name}.
  -else 
    = fb_login_button "window.location = '#{login_path}'"