%h1 Home Page
%p= @time.to_s :long

%p
  - if logged_in?
    %p
      Welcome, #{current_user.name}.
      <fb:profile-pic uid="#{current_user.fb_user_id}" facebook-logo="true" size="thumb" ></fb:profile-pic>
  -else 
    = fb_login_button "window.location = '#{login_path}'"