!!! XML
!!!

%html
  =	shared 'head'

  %body
    #page
      = shared 'header'
      #main		
        = shared 'notices'
        #content{:class => content_class }
          = yield :layout
      
      = shared 'footer'
    = shared 'javascript'